# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Ignore main css because using SASS
sites/all/themes/fj16/css/fj16.css

# Ignore system files
.DS_Store
Thumbs.db
.sass-cache

config.codekit
