body.node-type-fj16-activity #content {
  max-width: 1100px;
  margin: 0 auto;
}

.node-fj16-activity {
  .field-label {
    font-weight: normal;
    margin: 1.5em 0;
  }

  .activity-links {
    margin: 1.5em 0;
  }

  .activity-links a {
    display: inline-block;
    margin-right: 20px;

    span {
      font-family: $exo2;
      text-transform: uppercase;
      text-decoration: underline;
      color: $black;
    }

    img {
      margin: 0 10px -4px 0;
    }

    * {
      display: inline;
    }
  }
}

#content .view-fj16-activities-list {

  .view-fj16-activity-category-intro {
    @extend .ingres;
  }

  .node {
    margin: 1.7em 0 0;
  }

  h2 {
    @extend .item-heading;
  }

  .activity-links {
    margin: 1em 0;
  }

  .field-name-field-ingres {
    @extend .font-reset;
    margin-bottom: 0.9em;
  }

  .link {
    font-family: $exo2;
    text-transform: uppercase;

    a:after {
      content: " ›";
      font-size: 1.618em;
      line-height: 1em;
      position: relative;
      top: 1px;
    }
  }

}
