#footer {
	background: #dbdbdb;
	padding: 50px 0;

	#roihu-logo {
		display: inline-block;
		width: 170px;
		height: 80px;
		text-indent: -9999em;

		@include at2x('footer_roihu_logo', 170px);

		@include respond(mobile) {
			display: block;
			margin: 20px auto;
		}
	}

	#sp-logo {
		float: right;
		display: inline-block;
		width: 150px;
		height: 58px;
		text-indent: -9999em;

		@include at2x('footer_sp_logo', 150px);

		@include respond(mobile) {
			display: block;
			margin: 50px auto 20px;
			float: none;
		}
	}
}