.front-page-btn {
  margin: 17px 0 0;
  background: $purple;
  background: linear-gradient(to bottom, #b03a77 0%, #8d3461 100%);
  border-radius: 1em;
  color: $white;
  display: inline-block;
  font-family: $exo;
  font-size: 1.3em;
  font-weight: 600;
  line-height: 1;
  padding: .7em 1.4em;
  text-transform: uppercase;
  
  @media (max-width: $break-mobile) {
    font-size: 1.3em;
  }
}

body.front {

  overflow-x: hidden;

  #header {
    min-height: 100vh;

    // Fix iOS7 vh unit handling
    // iPad
    @media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
      & {
        min-height: 1024px;
      }
    }
    @media all and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
      & {
        min-height: 768px;
      }
    }
    // iPhone 5
    @media all and (device-aspect-ratio: 40/71) {
      & {
        min-height: 500px;
      }
    }

    height: auto;
    margin-bottom: 80px;
    background: #f8f8f8;
    position: relative;

    @include respond(1299px) {
      margin-bottom: 60px;
    }

    &.fixed-nav {
      margin-bottom: 50px;      
    }

    @include respond(small) {
      margin-bottom: 0 !important;
    }

    #top-bar {
      @extend .animated, .fadeInDown;
      @include animation-duration(0.8s);
      @include animation-delay(0.5s);

      a {
        @extend .animated, .fadeIn;
        @include animation-duration(0.5s);
        @include animation-delay(1.0s);
      }
    }
    
    &:before {
      @extend .animated, .fadeInDown;
      @include animation-duration(1.0s);
      @include animation-delay(1.0s);
          
      @include at2x('header_sp_logo', 225px);
      top: 4.8em;
      right: 2em;
      width: 225px;
      height: 84px;
      
      @include respond(medium) {
        width: 180px;
        height: 68px;
        background-size: 180px;
      }
      
      @include respond(mobile) {
        width: 100px;
        height: 43px;
        right: 1em;
        top: 3.8em;
        background-size: 100px;      
      }
    }

    #name-and-slogan {
      width: 500px;
      max-width: 60%;
      position: absolute;
      left: 50%;
      top: 50%;
      display: block;
      margin: -300px 0 0 -250px;
      padding: 50px 0;


      @include respond(medium) {
        padding-top: 30px;
      }

      @include respond(mobile) {
        position: relative;
        margin: 0;
        width: 100%;
        max-width: 100%;
        top: 0;
        left: 0;
        padding-top: 100px;
      }

      #site-name {
        a {
          @extend .animated, .fadeInUp;
          @include animation-duration(1.0s);
          @include animation-delay(1.0s);

          width: 250px;
          height: 377px;
          display: block;
          margin: 0 auto 20px auto;
          max-width: 100%;

          @include at2x('header_roihu_logo', 100%);
          background-color: transparent;
          background-repeat: no-repeat;

          @include respond(medium) {
            width: 200px;
            height: 301px;
          }

          @include respond(mobile) {
            width: 200px;
            height: 301px;
          }
        }
      }

      #site-slogan {
        @extend .animated, .fadeInUp;
        @include animation-duration(1.0s);
        @include animation-delay(1.2s);

        display: block;
        text-align: center;
        font-family: $exo;
        font-size: 1.618em;
        font-weight: 600;
        color: #fff;
        text-transform: none;
        text-shadow: 1px 1px 3px rgba(0,0,0,.9);

        &:before {
          content: 'Finnjamboree 2016';
          text-transform: uppercase;
          display: block;
        }

        @include respond(mobile) {
          font-size: 1.618em;
        }
      }


      #to-content {
        display: inline-block;
        position: absolute;
        width: 40px;
        height: 46px;
        bottom: -20px;
        left: 50%;
        margin-left: -20px;
        opacity: 0.75;
        cursor: pointer;

        @include at2x('front_arrow_down', 40px);

        @extend .animated, .fadeInDown;
        @include animation-duration(1.0s);
        @include animation-delay(1.2s);

        &:hover {
          bottom: -35px;
        }

        @include respond(medium) {
          bottom: -60px;

          &:hover {
            bottom: -75px;
          }
        }


        @include respond(mobile){
          position: relative;
          top: 30px;
        }
      }
    }

    #navigation {
      bottom: -80px;
        
      @include respond(1299px) {
        bottom: -60px;
      }
    }

    #bg-slides {
      display: block;
      position: absolute;
      top: 0; left: 0; right: 0; bottom: 0;

      background: url("#{$s3}/img/front_header_large.jpg") center;
      background-size: cover;
      
      @include respond(small) {
        background-image: url("#{$s3}/img/front_header_small.jpg");
      }
      
      @include respond(mobile) {
        background-image: url("#{$s3}/img/front_header_mobile.jpg");
      }
    }
  }

  #main {

    overflow: visible;
    padding: 0;

    #content {
      padding: 0;
    }

    h1#page-title, h2 {
      display: none;
    }

    h3 {
      font-family: $exo;
      font-size: 3em;
      margin-top: 0;
      text-transform: uppercase;
    }

    .theme {
      padding-top: 20px;
      background: $blue 50% 50% no-repeat url(../img/backgrounds/last-front-page.svg);
      background-size: 100% auto;
    }

    .row {
      width: 95%;
      max-width: 1300px;
      margin: 0 auto;
      padding: 50px 0;
      clear: both;
    }

    .intro {
      float: left;
      width: 52%;
      color: $white;
    }

    .video {
      width: 45%;
      float: right;

      iframe {
        width: 100%;
        height: 350px;
        margin-top: 10px;
      }
    }

    .links {
      float: left;
      width: 52%;

      li {
        list-style: none;
        margin: 0;
        padding: 0 0 0.5em 1em;
        text-indent: -1em;
      }

      li:before {
        content: '> ';
        padding-right: 0.3em;
        color: $white;
      }

      span {
        margin-right: 1.5em;
        text-decoration: underline;
      }

      .site, .date {
        font-size: 85%;
        text-decoration: none;
      }

      .date {
        margin-right: 0;
      }

      a {
        color: $white;
      }
    }

    .images {
      float: right;
      width: 45%;
      padding-top: 5px;

      img {
        width: 48%;
        float: left;
        margin-bottom: 3.99%;
      }

      a:nth-child(odd) img {
        margin-right: 3.99%;
      }
    }

    .videos {
      clear: both;
      padding-top: 20px;
      text-align: center;

      iframe {
        width: 18%;
        margin: 0.79%;
        display: inline-block;
      }
    }

  }
}