.front-page-btn {
  margin: 17px 0 0;
  background: $purple;
  background: linear-gradient(to bottom, #b03a77 0%, #8d3461 100%);
  border-radius: 1em;
  color: $white;
  display: inline-block;
  font-family: $exo;
  font-size: 1.3em;
  font-weight: 600;
  line-height: 1;
  padding: .7em 1.4em;
  text-transform: uppercase;
  
  @media (max-width: $break-mobile) {
    font-size: 1.3em;
  }
}

body.front {

  overflow-x: hidden;

  #header {
    min-height: 100vh;

    // Fix iOS7 vh unit handling
    // iPad
    @media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
      & {
        min-height: 1024px;
      }
    }
    @media all and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
      & {
        min-height: 768px;
      }
    }
    // iPhone 5
    @media all and (device-aspect-ratio: 40/71) {
      & {
        min-height: 500px;
      }
    }

    height: auto;
    margin-bottom: 80px;
    background: #f8f8f8;
    position: relative;

    @include respond(1299px) {
      margin-bottom: 60px;
    }

    &.fixed-nav {
      margin-bottom: 50px;      
    }

    @include respond(small) {
      margin-bottom: 0 !important;
    }

    #top-bar {
      @extend .animated, .fadeInDown;
      @include animation-duration(0.8s);
      @include animation-delay(0.5s);

      a {
        @extend .animated, .fadeIn;
        @include animation-duration(0.5s);
        @include animation-delay(1.0s);
      }
    }
    
    &:before {
      @extend .animated, .fadeInDown;
      @include animation-duration(1.0s);
      @include animation-delay(1.0s);
          
      @include at2x('header_sp_logo', 225px);
      top: 4.8em;
      right: 2em;
      width: 225px;
      height: 84px;
      
      @include respond(medium) {
        width: 180px;
        height: 68px;
        background-size: 180px;
      }
      
      @include respond(mobile) {
        width: 100px;
        height: 43px;
        right: 1em;
        top: 3.8em;
        background-size: 100px;      
      }
    }

    #name-and-slogan {
      width: 500px;
      max-width: 60%;
      position: absolute;
      left: 50%;
      top: 50%;
      display: block;
      margin: -300px 0 0 -250px;
      padding: 50px 0;


      @include respond(medium) {
        padding-top: 30px;
      }

      @include respond(mobile) {
        position: relative;
        margin: 0;
        width: 100%;
        max-width: 100%;
        top: 0;
        left: 0;
        padding-top: 100px;
      }

      #site-name {
        a {
          @extend .animated, .fadeInUp;
          @include animation-duration(1.0s);
          @include animation-delay(1.0s);

          width: 250px;
          height: 377px;
          display: block;
          margin: 0 auto 20px auto;
          max-width: 100%;

          @include at2x('header_roihu_logo', 100%);
          background-color: transparent;
          background-repeat: no-repeat;

          @include respond(medium) {
            width: 200px;
            height: 301px;
          }

          @include respond(mobile) {
            width: 200px;
            height: 301px;
          }
        }
      }

      #site-slogan {
        @extend .animated, .fadeInUp;
        @include animation-duration(1.0s);
        @include animation-delay(1.2s);

        display: block;
        text-align: center;
        font-family: $exo;
        font-size: 1.618em;
        font-weight: 600;
        color: #fff;
        text-transform: none;
        text-shadow: 1px 1px 3px rgba(0,0,0,.9);

        &:before {
          content: 'Finnjamboree 2016';
          text-transform: uppercase;
          display: block;
        }

        @include respond(mobile) {
          font-size: 1.618em;
        }
      }


      #to-content {
        display: inline-block;
        position: absolute;
        width: 40px;
        height: 46px;
        bottom: -20px;
        left: 50%;
        margin-left: -20px;
        opacity: 0.75;
        cursor: pointer;

        @include at2x('front_arrow_down', 40px);

        @extend .animated, .fadeInDown;
        @include animation-duration(1.0s);
        @include animation-delay(1.2s);

        &:hover {
          bottom: -35px;
        }

        @include respond(medium) {
          bottom: -60px;

          &:hover {
            bottom: -75px;
          }
        }


        @include respond(mobile){
          position: relative;
          top: 30px;
        }
      }
    }

    #navigation {
      bottom: -80px;
        
      @include respond(1299px) {
        bottom: -60px;
      }
    }

    #bg-slides {
      display: block;
      position: absolute;
      top: 0; left: 0; right: 0; bottom: 0;

      background: url("#{$s3}/img/front_header_large.jpg") center;
      background-size: cover;
      
      @include respond(small) {
        background-image: url("#{$s3}/img/front_header_small.jpg");
      }
      
      @include respond(mobile) {
        background-image: url("#{$s3}/img/front_header_mobile.jpg");
      }
    }
  }

  #main {

    overflow: visible;

    h1#page-title {
      display: none;
    }

    #content {
      padding: 0;
    }

    padding: 0;
    
    div#clock-wrapper,
    div.frontpage-lift {
      @include at2x('front_section_bg', auto, 100%);
      background-color: $purple;
      background-repeat: no-repeat;
      background-position: center;
      padding: 3.8em 0;

      &.frontpage-lift {
        text-align: center;

        p {
          color: #fff;
          margin: 1em 0;
        }

        audio {
          display: inline-block;
          margin: 1em auto;
          width: 50%;
        }
      }
      
      &.blue {
        background-color: $blue;
      }
      &.green {
        background-color: $green;
      }
      &.orange {
        background-color: $red;
      }
      &.purple {
        background-color: $purple;
      }
      
      h2 {
        color: #fff;
        font-family: Exo2, sans-serif;
        font-size: 2.22em;
        margin: 0;
        text-align: center;
        text-transform: uppercase;
      }
      
      div#clock {
        color: #fff;
        margin: 2.8em auto;
        width: 35em;
        overflow: hidden;
        text-align: center;
        text-transform: uppercase;
        white-space: nowrap;
        
        p {
          background: #333;
          font-size: .9em;
          line-height: 1.2;
          float: left;
          height: 7.5em;
          width: 7.5em;
          margin-bottom: 0;
          
          span {
            display: block;
            font-size: 4.32em;
            font-weight: bold;
            padding: 5px 0 0;
          }
        }
      
        div.space {
          color: #fff;
          display: block;
          line-height: 1.52em;
          font-size: 4.4em;
          float: left;
          height: 1.52em;
          width: .6em;
        }
      }
      
      a {
        display: block;
        color: #fff;
        font-size: 1.4em;
        text-align: center;
                
        &:after {
          content: " ›";
          font-size: 1.618em;
          line-height: 1em;
          position: relative;
          top: 3px;
        }
      }
      
      @include respondMin(small) {
        h2, a {
          opacity: 0;

          &.animated {
            opacity: 1;
          }
        }
      }
      
      @include respond(mobile) {
        font-size: .8em;
      }
      @include respond(480px) {
        div.countdown-clock {
          text-align: center;
        }
        div#clock {
          display: inline-block;
          font-size: .65em;
          width: auto;
        }
      }
    }

    #block-system-main {
      h2 {
        display: none;
      }

      .container {
        padding: 210px 30px 70px;
        background: $white url(../img/backgrounds/camp-front-page.png) 50% 0 repeat-x;
        text-align: center;

        h3 {
          font-family: $exo;
          font-weight: 600;
          margin: 0 0 30px;
          text-transform: uppercase;
          color: $purple;
          
          @media (max-width: $break-mobile) {
            font-size: 1.6em;
          }
        }

        p {
          max-width: 50em;
          margin: 20px auto;
        }

        .btn {
          @extend .front-page-btn;
        }
      }

      .flockler-tags {
        background: $blue;
        color: $white;
        margin: 0;
        padding: 45px 25px 0;

        text-align: center;

        span {
          padding: 0 1em 0.4em;
          display: block;
        }
      }

      .flockler-wall-item__content {
        box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.25);
        border: 0;
        margin: 12px;
      }

      #flockler_container {
        background: $blue ;
        margin: 0;
        padding: 30px 30px;
      }

      @include respond(mobile) {
        #flockler_container {
          padding: 12px;
        }

        .flockler-tags {
          padding-top: 30px;
        }
      }

      .flockler-btn-load-more {
        @extend .front-page-btn;
        margin: auto;
        width: auto;
        max-width: 13em;
        margin-bottom: -10px;
      }
    }

  }
}