$elamys: $purple;
$kasvatus: $red;
$palvelu: $green;
$resurssi: $yellow;
$yhteistyo: $blue;

.node-type-fj16-job #main, .page-pestit #main {
  background: 50% 0 #a96f2e url(../img/backgrounds/pestit-2048.jpg);
  background-size: 100% auto;
  max-width: none;

  @include respond(small) {
    padding: 0;
    background-image: url(../img/backgrounds/pestit-1024.jpg);

    #content {
      padding: 10px;
    }
  }
  
  #content h1 {
    display: none; //TODO Accessibility
  }
}

@include respond(small) {
  .page-pestit #main #content h1 {
    display: block;
    color: #FFF;
    text-shadow: #000 0 0 2px;
    margin-top: 17px;
  }
}

.page-pestit #main #content {

  .fj16_job_ads_intro {
    color: #fff;
    text-shadow: #000 1px 1px 2px;
    margin-bottom: 1.5em;

    p {
      margin: 0 0 0.5em;
    }
      
    a {
      color: #FFF;
      text-decoration: underline;
    }
    
  }

  #block-views-exp-fj16-jobs-page {
    width: 30%;
    float: right;
    background: #FFF;

    @include respond(mobile) {
      width: 100%;
      margin-bottom: 12px;
    }

    h2, .views-exposed-widget>label {
      display: block;
      font-size: 2.236em;
      margin: 0;
      background: #000;
      color: #FFF;
      font-weight: normal;
      text-transform: uppercase;
      font-family: $exo2;
      padding: 3% 8%;

      @include respond(mobile) {
        font-size: 1.6em;
      }
    }

    h2 {
      padding: 4% 8% 0;
    }

    .views-exposed-widget>label {
      font-size: 1em;
    }

    .views-exposed-widget {
      float: none;
      padding: 0;
    }

    .views-widget {
      padding: 3% 8%;
    }

    .views-reset-button, .views-submit-button {
      text-align: center;
      padding-bottom: 3%;
      margin-top: -4%;

      input {
        background: #000;
        color: #FFF;
      }
    }

  }

  .view-fj16-jobs {
    width: 68%;
    float: left;

    @include respond(mobile) {
      width: 100%;
    }
  }

  .node-fj16-job.node-teaser {
    margin-bottom: 12px;
    padding: 1% 3% 2%;

    p {
      margin: 2% 0;
    }
  }

  .pager {
    li {
      list-style: none;
      margin: 0;
      display: inline;
    }

    a {
      display: inline-block;
      padding: 5px 15px;
      background: #000;
      color: #FFF;
      font-family: $exo2;
      text-transform: uppercase;
      font-weight: normal;
    }
  }
}

.node-type-fj16-job #content {
  @extend .container;
}

.node-fj16-job {
  @include clearfix();
  
  background: #FFF;
  position: relative;

  .breadcrumb {
    width: 75%;
  }

  & .info:before {
    content: ' ';
    display: block;
    position: absolute;
    right: 20px;
    top: 0;
    width: 35px;
    height: 50px;
    background: 50% 100% red no-repeat url(../img/triangle.png);
    background-size: contain;
  }

  &.elamys {
    .field-name-field-department {
      color: $elamys;
    }

    .info:before {
      background-color: $elamys;
    }
  }
  &.kasvatus {
    .field-name-field-department {
      color: $kasvatus;
    }

    .info:before {
      background-color: $kasvatus;
    }
  }
  &.palvelu {
    .field-name-field-department {
      color: $palvelu;
    }

    .info:before {
      background-color: $palvelu;
    }
  }
  &.resurssi {
    .field-name-field-department {
      color: $resurssi;
    }

    .info:before {
      background-color: $resurssi;
    }
  }
  &.yhteistyo {
    .field-name-field-department {
      color: $yhteistyo;
    }

    .info:before {
      background-color: $yhteistyo;
    }
  }

  &.full {
    .info {
      padding: 3.4% 3.4% 0;

      &:before {
        right: 30px;
        width: 48px;
        height: 70px;
      }
    }

    .job-content {
      padding: 0 3.4% 3.4%;

      h3 {
        margin: 1em 0;
        font-size: 1em;
        text-transform: uppercase;
      }

      @include respondMin(small) {
        float: left;
        width: 50%;
      }
    }

    .application-form {
      @include clearfix();
      
      padding: 3.4%;
      background: #d2d2d1;

      h2 {
        margin: 0 0 20px;
      }

      @include respondMin(small) {
        float: left;
        width: 50%;
      }
    }

    .job-content, .application-form form {
      max-width: 100%;
      
      @include respond(small) {
        max-width: 610px;
      }
    }

    .meta {
      border-bottom: 1px solid #000;
      padding-bottom: 3.4%;
      margin-bottom: 3.4%;
    }
  }

  .meta {
    .organization * {
      display: inline-block;
    }

    .field-label {
      display: none; //TODO Accessibility
    }
    
    .job-shares {
      line-height: 1;
      margin-top: 15px;
    
      > * {
        vertical-align: top !important;
        
        + * {
          margin-left: 10px;
        }
      }
    }
  }

  h2 {
    font-family: $exo2;
    font-size: 2.236em;
    text-transform: uppercase;
    margin: 15px 0 12px;
    letter-spacing: 0.02em;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;

    &, & a {
      color: #000;
    }

    @include respond(mobile) {
      font-size: 1.6em;
      margin-bottom: 7px;
    }
  }

  .read-more {
    font-family: $exo2;
    color: #000;
    text-transform: uppercase;

    &:after {
      content: ' >';
    }
  }
}