#main {
  @extend .container;
  
  padding: 0;

  .breadcrumb {
    a {
      color: $blue;
      text-decoration: underline;
    }
  }

  &.two-col {
    background: 26% 0 repeat-y url(../img/backgrounds/two-col.pngx);
    background: 26% 0 repeat-y inline-image("../img/backgrounds/two-col.png");
  }
}

div.messages {
  margin: 0;
  border: 0;
  padding: 20px 10px 10px 76px;
  line-height: 2em;
  background: none no-repeat 20px 20px;
  background-size: 36px;
  min-height: 76px;

  a {
    color: inherit; // normal link color could be illegible
    text-decoration: underline; // links need to be seen, though
  }

  &.status {
    background-color: $green;
    background-image: inline-image("../img/icons/status.png");
    color: #FFF;
  }

  &.error {
    background-color: $red;
    background-image: inline-image("../img/icons/error.png");
    color: #FFF;
  }

  &.warning {
    background-color: $yellow;
    background-image: inline-image("../img/icons/warning.png");
    color: #000;
  }

  ul, li {
    margin: 0;
    padding: 0;
  }
}

#sidebar-left {
  width: 26%;
  float: left;
}

#sidebar-left .block-menu-block {
  font-family: $exo;

  h2 {
    font-size: 120%;
    margin: 40px 0 30px;
    
    a {
      padding: .5em 0 .5em 18%;
      text-decoration: none;
      text-transform: uppercase;
      
      &:before {
        display: none;
      }
      
      span {
        border-bottom: 1px solid $black;
      }
      
      &:hover, &:focus, &.active {
        span {
          border-color: $white;
        }
      }
    }
  }

  ul, li {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  a {
    display: block;
    padding: 7px 0;
  }

  a:link, a:visited {
    color: $black;
  }

  a:hover, a:active, a.active {
    color: $white;
    background: $blue;
  }

  a {
    padding-left: 18%;
  }

  a:before { //2nd level links' arrow
    content: '\25b6';
    position: absolute;
    margin-left: -28px;
  }

  li li a:before {
    display: none;
  }

  li li a {
    padding-left: 23%;
  }

  li li li a {
    padding-left: 32%;
  }
}

#content {
  padding: 100px;

  @include respond(medium) {
    padding: 75px;
  }
  
  @include respond(small) {
    padding: 50px;
  }

  @include respond(mobile) {
    padding: 30px 20px;
  }

  h1.title {
    color: $blue;
    font-size: 4em;
    text-transform: uppercase;
    font-family: $exo2;
    margin-bottom: 0.3em;
    
    @include respond(medium) {
      font-size: 3.5em;
    }

    @include respond(mobile) {
      font-size: 2.5em;
    }
  }

  .field-name-field-ingres {
    @extend .ingres;
  }
  
  figure {
    background: transparent;
    
    > figcaption {
      font-size: .8em;
      font-style: italic;
      padding: .7em 0 0;
    }
  }
  
  .subcamp-filter, .gsc-input-box {
    border: 0;
    background: transparent;
    height: auto;
    
    input {
      background: url(../img/search-icon.png) .75em 47%/30px 30px no-repeat;
      border: 1px solid darken($grey, 50);
      font-size: 1.25em;
      margin: 0 0 1em;
      padding: .75em 1em .75em 3em;
      width: 100%;
    }
    
    + table {
      border: 0;
      display: block;
      overflow: auto;
      width: auto;
      
      th, td {
        border: 1px solid $grey;
        padding: .5em .75em;
        vertical-align: top;
      }
      
      // tbody tr:nth-child(even) {
        // background: $grey;
      // }
      
      thead th {
        background: $blue;
        color: #fff;
        font-family: $exo2;
        font-size: 1.25em;
        text-transform: uppercase;
      }
    }
  }
  .gsc-search-button {
    display: none;
  }
}

.two-col #content {
  width: 73.9%;
  float: right;
}

@include respond(1023px) {
  #main.two-col {
    background: none;
    
    #sidebar-left, #content {
      float: none;
      width: 100%;
    }

    .block-menu-block {
      display: none; //Use mobile nav instead
    }
  }
}
