#mobile-menu {
	display: none;

	@include respond(1023px) {
		display: block;		
		// position: fixed;
		// left: 0;
		// top: 0;
		// bottom: 0;
		width: 100%;
		background: $green;
		z-index: 100;
		// padding: 15px 0 15px 60px;
		// margin-left: -60px;
		overflow: auto;

		font-family: $exo;

		// GPU acceleration
		// @include transform(translate3d(-100%,0,0));

		// @include transition(all 0.3s ease-out);

		// &.visible {
			// @include transform(translate3d(0,0,0));
		// }

		ul, li {
			list-style: none;
			margin: 0;
			padding: 0;
		}

		li {
      display: none;
			margin: 0;
		}

		//Sub-items of currently active item
		.active ul {
			background: $green;
		}
    
    .active > a, .active-trail > a {
      background: darken($green, 10);
      color: #fff;
    }
    
    .active-trail .active > a {
      background: $green;
    }
    
    .active, .active li, .active-trail, .active-trail li {
      display: block;
      margin: 0;
    }

		a {
      color: #FFF;
      display: block;
      padding: 12px 20px;
		}

		ul.links {
			margin: 12px 20px 0 20px;
			border-top: 1px solid rgba(255,255,255,.3);
			padding-top: 10px;

			a {
				padding: 0;
			}
		}

	}
}