.node-type-fj16-news-article,
.page-news {
  h1#page-title {
    display: none;
  }
  
  .node-fj16-news-article {
  
    .field-name-field-category a {
      font-family: $exo;
      color: $blue;
      text-transform: uppercase;
    }
    
    h2 {
      font-family: $exo;
      font-size: 2.2em;
      margin-top: .4em;
      
      @include respond(1023px) {
        font-size: 1.8em;
      }
      
      a {
        color: inherit;
      }
    }
    
    .field-name-field-news-image img {
      margin-top: .3em;
    }
    
    .field-name-field-news-image-description {
      border-bottom: 1px solid #b2b2b2;
      font-style: italic;
      margin-bottom: 1.6em;
      padding: .5em 0;
      
      @include respond(1023px) {
        font-style: normal;
      }
    }
    
    .author {
      float: left;
      width: 25%;
      
      @include respond(1023px) {
        display: none;
      }
      
      span {
        display: block;
        
        + span {
          margin-top: 1.1em;
        }
        
        &.by {
          text-transform: uppercase;
        }
      }
    }
    
    .author-mobile {
      margin-bottom: 1em;
      span {
        padding-right: .8em;
        
        + span {
          border-left: 1px solid #000;
          padding-left: .8em;
        }
      }
    }
    
    .content {
      float: left;
      width: 75%;
      
      @include respond(1023px) {
        float: none;
        width: auto;
      }
    }
  }
  
  #content .view-fj16-news {
    h2 {
      margin-top: .2em;
      margin-bottom: .8em;

      @include respond(1023px) {
        font-size: 1.8em;
        margin-bottom: .2em;
      }
    }
    
    .views-row {
      padding-bottom: 1.5em;
      
      + .views-row {
        border-top: 1px solid $grey;
        padding-top: 1.5em;
      }
    }
    
    .field-name-field-news-image {
      float: left;
      width: 22%;
      
      @include respond(1023px) {
        float: none;
        width: auto;
      }
    }
    .content {
      float: left;
      width: 75%;
      margin-left: 3%;
      
      @include respond(1023px) {
        float: none;
        width: auto;
      }
    }
  
    .field-name-field-ingres {
      color: inherit;
      font-family: $aleo;
      text-transform: none;
      
      @include respond(1023px) {
        display: none;
      }
    }
    
    .author span {
      font-size: .9em;
      display: inline;
      
      + span {
        margin-top: 0;
      }
    }
  }

  .field-name-field-images {
    overflow: auto;

    img {
      float: left;
      margin: 0 15px 15px 0;
    }
  }
}

#lightbox {
  #outerImageContainer, #imageDataContainer {
    position: relative;
    overflow: visible;
  }

  // Lightbox2 sucks, so we need to force the styles with !important
  #bottomNavClose {
    background: no-repeat inline-image("icons/close.png") !important;
    width: 24px;
    height: 24px;
    top: -36px;
    right: 0;
  }

  #numberDisplay {
    display: none !important;
  }

  #prevLink, #nextLink {
    position: absolute;
    width: 50%;
  }

  #prevLink {
    background: 90% 50% no-repeat inline-image("icons/prev.png") !important;
  }

  #nextLink {
    background: 10% 50% no-repeat inline-image("icons/next.png") !important;
  }
}