/*
Error: Invalid CSS after "}": expected "}", was ""
        on line 332 of /cygdrive/e/Nettisaitit/Roihu/fj16-web/sites/all/themes/fj16/sass/_header.scss
        from line 22 of /cygdrive/e/Nettisaitit/Roihu/fj16-web/sites/all/themes/fj16/sass/fj16.scss

327: 
328:   #to-content {
329:     display: none;
330:   }
331: 
332: }

Backtrace:
/cygdrive/e/Nettisaitit/Roihu/fj16-web/sites/all/themes/fj16/sass/_header.scss:332
/cygdrive/e/Nettisaitit/Roihu/fj16-web/sites/all/themes/fj16/sass/fj16.scss:22
/usr/share/gems/gems/sass-3.4.14/lib/sass/scss/parser.rb:1162:in `expected'
/usr/share/gems/gems/sass-3.4.14/lib/sass/scss/parser.rb:1098:in `expected'
/usr/share/gems/gems/sass-3.4.14/lib/sass/scss/parser.rb:1093:in `tok!'
/usr/share/gems/gems/sass-3.4.14/lib/sass/scss/parser.rb:640:in `block'
/usr/share/gems/gems/sass-3.4.14/lib/sass/scss/parser.rb:632:in `ruleset'
/usr/share/gems/gems/sass-3.4.14/lib/sass/scss/parser.rb:657:in `block_child'
/usr/share/gems/gems/sass-3.4.14/lib/sass/scss/parser.rb:647:in `block_contents'
/usr/share/gems/gems/sass-3.4.14/lib/sass/scss/parser.rb:117:in `stylesheet'
/usr/share/gems/gems/sass-3.4.14/lib/sass/scss/parser.rb:42:in `parse'
/usr/share/gems/gems/sass-3.4.14/lib/sass/engine.rb:393:in `_to_tree'
/usr/share/gems/gems/sass-3.4.14/lib/sass/engine.rb:299:in `to_tree'
/usr/share/gems/gems/sass-3.4.14/lib/sass/tree/visitors/perform.rb:323:in `block in visit_import'
/usr/share/gems/gems/sass-3.4.14/lib/sass/stack.rb:88:in `block in with_import'
/usr/share/gems/gems/sass-3.4.14/lib/sass/stack.rb:115:in `with_frame'
/usr/share/gems/gems/sass-3.4.14/lib/sass/stack.rb:88:in `with_import'
/usr/share/gems/gems/sass-3.4.14/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
/usr/share/gems/gems/sass-3.4.14/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/share/gems/gems/sass-3.4.14/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/usr/share/gems/gems/sass-3.4.14/lib/sass/stack.rb:79:in `block in with_base'
/usr/share/gems/gems/sass-3.4.14/lib/sass/stack.rb:115:in `with_frame'
/usr/share/gems/gems/sass-3.4.14/lib/sass/stack.rb:79:in `with_base'
/usr/share/gems/gems/sass-3.4.14/lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/share/gems/gems/sass-3.4.14/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/usr/share/gems/gems/sass-3.4.14/lib/sass/tree/visitors/base.rb:52:in `map'
/usr/share/gems/gems/sass-3.4.14/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/usr/share/gems/gems/sass-3.4.14/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/usr/share/gems/gems/sass-3.4.14/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/usr/share/gems/gems/sass-3.4.14/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/usr/share/gems/gems/sass-3.4.14/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/usr/share/gems/gems/sass-3.4.14/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/usr/share/gems/gems/sass-3.4.14/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/share/gems/gems/sass-3.4.14/lib/sass/tree/visitors/perform.rb:157:in `visit'
/usr/share/gems/gems/sass-3.4.14/lib/sass/tree/visitors/perform.rb:8:in `visit'
/usr/share/gems/gems/sass-3.4.14/lib/sass/tree/root_node.rb:36:in `css_tree'
/usr/share/gems/gems/sass-3.4.14/lib/sass/tree/root_node.rb:20:in `render'
/usr/share/gems/gems/sass-3.4.14/lib/sass/engine.rb:268:in `render'
/home/Ville-Pekka Reponen/.gem/ruby/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:17:in `block in render'
/home/Ville-Pekka Reponen/.gem/ruby/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:29:in `with_import_scope'
/home/Ville-Pekka Reponen/.gem/ruby/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:16:in `render'
/usr/share/gems/gems/sass-3.4.14/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/usr/share/gems/gems/sass-3.4.14/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/usr/share/gems/gems/sass-3.4.14/lib/sass/plugin/compiler.rb:209:in `each'
/usr/share/gems/gems/sass-3.4.14/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/home/Ville-Pekka Reponen/.gem/ruby/gems/compass-1.0.3/lib/compass/sass_compiler.rb:40:in `compile!'
/home/Ville-Pekka Reponen/.gem/ruby/gems/compass-1.0.3/lib/compass/commands/update_project.rb:49:in `perform'
/home/Ville-Pekka Reponen/.gem/ruby/gems/compass-1.0.3/lib/compass/commands/base.rb:18:in `execute'
/home/Ville-Pekka Reponen/.gem/ruby/gems/compass-1.0.3/lib/compass/commands/project_base.rb:19:in `execute'
/home/Ville-Pekka Reponen/.gem/ruby/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/home/Ville-Pekka Reponen/.gem/ruby/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/home/root/.gem/ruby/gems/compass-1.0.3/bin/compass:30:in `block in <main>'
/home/root/.gem/ruby/gems/compass-1.0.3/bin/compass:44:in `call'
/home/root/.gem/ruby/gems/compass-1.0.3/bin/compass:44:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"}\": expected \"}\", was \"\"\A         on line 332 of /cygdrive/e/Nettisaitit/Roihu/fj16-web/sites/all/themes/fj16/sass/_header.scss\A         from line 22 of /cygdrive/e/Nettisaitit/Roihu/fj16-web/sites/all/themes/fj16/sass/fj16.scss\A \A 327: \A 328:   #to-content {\A 329:     display: none;\A 330:   }\A 331: \A 332: }"; }
