// Most basic layout styles are here

* {
	@include box-sizing(border-box);
}

html, body {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;	
}

a {
	@include transition(all 0.3s ease-out);
	text-decoration: none;
}

.container {
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
	overflow: hidden;

	@respond(large) {
		max-width: $break-large + 1;
	}
	@respond(medium) {
		max-width: $break-medium + 1;
	}
	@respond(small) {
		max-width: $break-small + 1;
	}
	@respond(mobile) {
		max-width: $break-mobile + 1;
		padding-left: 10px;
		padding-right: 10px;
	}
}