// Most basic layout styles are here

* {
	@include box-sizing(border-box);
}

html, body {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

a {
	@include transition(all 0.3s ease-out);
	text-decoration: none;
}

.container {
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
	overflow: hidden;

	@respond(large) {
		max-width: $break-large + 1;
	}
	@respond(medium) {
		max-width: $break-medium + 1;
	}
	@respond(small) {
		max-width: $break-small + 1;
	}
	@respond(mobile) {
		max-width: $break-mobile + 1;
		padding-left: 10px;
		padding-right: 10px;
	}
}

#main {
	@extend .container;

	#content {
		padding: 100px 200px;

		@include respond(medium) {
			padding: 75px 100px;
		}

		@include respond(mobile) {
			padding: 30px 0;
		}

		h1.title {
			color: $blue;
			font-size: 4.236em;
			text-transform: uppercase;
			font-family: $exo2;
			margin-bottom: 0.3em;

			@include respond(mobile) {
				font-size: 2.236em;
			}
		}

		.field-name-field-ingres {
			margin-bottom: 1.3em;
			font-family: $exo2;
			color: $blue;
			text-transform: uppercase;
		}
	}
}