// Most basic layout styles are here

* {
	@include box-sizing(border-box);
}

html, body {
	-webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

a {
	@include transition(all 0.3s ease-out);
	text-decoration: none;

	color: $green;

	&:hover {
		color: shade($green, 15%);
	}
}

p {
	a {
		font-weight: 600;
	}
}

.container {
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
	overflow: hidden;

	@respond(large) {
		max-width: $break-large;
	}
	@respond(medium) {
		max-width: $break-medium;
	}
	@respond(small) {
		max-width: $break-small;
	}
	@respond(mobile) {
		max-width: $break-mobile;
		padding-left: 10px;
		padding-right: 10px;
	}
}

input[type="password"], input[type="text"],  input[type="email"], textarea {
	padding: 10px;
	font-size: 0.9em;
	font-family: $aleo;
	letter-spacing: 0.03em;
	color: #939393;
	margin: 5px 0 20px 0;
	max-width: 100%;
}

input[type="submit"], .button {
	background: $green;
	color: #FFF;
	padding: 15px 30px;
	font-family: $exo2;
	text-transform: uppercase;
	font-size: 1em;
	border-width: 0;
	cursor: pointer;

	&:hover {
		background: shade($green, 15%);
	}

	&[disabled] {
		background: #AAA;
	}

	&.small {
		padding: 8px 15px;
		font-size: 0.8em;
	}

	&.blue {
		background: $blue;
		&:hover { background: shade($blue, 15%); }
	}

	&.purple {
		background: $purple;
		&:hover { background: shade($purple, 15%); }
	}

	&.red {
		background: $red;
		&:hover { background: shade($red, 15%); }
	}

	&.yellow {
		background: $yellow;
		color: #000;
		&:hover { background: shade($yellow, 15%); }
	}
}

#content ul.tabs.primary {
	list-style: none !important;
	padding: 0;
	border: none;
	margin: 2em 0;

	li {
		list-style: none !important;
		margin: 0;
		display: inline-block;

		a {
			@extend .button, .small;
		}

		&:nth-child(2) a {
			@extend .blue;
		}
		&:nth-child(3) a {
			@extend .purple;
		}
	}
}


// todo: move this to better place

.ltmk {
    max-width: 300px;
    float: left;
    margin-right: 40px;
    margin-bottom: 30px;

    @include respond(340px) {
    	margin-right: 0;
    }

    img {
    	max-width: 100%;

    	@include respond(mobile) {
    		width: 100%; // For Windows Phone
    	}
    }

    h5 {
	    font-family: 'Exo2';
	    text-transform: uppercase;
	    font-size: 1.2em;
	}

	p {
	    margin-bottom: 0;
	}
}