// Typography
$base-font-size: 18px;
$aleo: 'Aleo', serif;
$exo: 'Exo2', sans-serif;
$exo2: $exo;

// Roihu colors

$blue: #36a9e1;
$green: #00a870;
$yellow: #ffed00;
$red: #e74011;
$purple: #b80170;

// Other colors

$black: #000;
$white: #fff;
$grey: #dbdbdb;

// Breakpoints

$break-mobile: 767px;
$break-small: 1023px;
$break-medium: 1279px;
$break-large: 1679px;

// S3 bucket url for header images
$s3: '/sites/all/themes/fj16';
