// Typography
$base-font-size: 18px;
$aleo: 'Aleo', serif;
$exo: 'Exo2', sans-serif;
$exo2: $exo;

// Roihu colors

$blue: #36a9e1;
$green: #00a870;
$yellow: #ffed00;
$red: #e74011;
$purple: #b80170;

// Breakpoints

$break-mobile: 768px;
$break-small: 1024px;
$break-medium: 1280px;
$break-large: 1680px;