// Typography
@base-font-size: 16px;

// Roihu colors

$blue: #36a9e1;
$green: #00a870;
$yellow: #ffed00;
$red: #e74011;
$purple: #b80170;

// Breakpoints

$break-mobile-max: 767px;

$break-small-min: 768px;
$break-small-max: 1023px;

$break-medium-min: 1024px;
$break-medium-max: 1279px;

$break-large-min: 1280px;
$break-large-max: 1679px;

$break-full-min: 1680px;
